<app-custom-toolbar [title]="teamNumber + ' - ' + teamName + ' - ' + ' Rank #' + teamRanking + ' (' + event + ')'" [icon]="'refresh'" (notify)="setup($event)"></app-custom-toolbar>

<ion-content>
  <div text-center>
    <ion-grid>
      <ion-row>
        <ion-col text-end>
          <ion-button href="{{ teamWebsite }}" style="margin-top: 3vh;">Web</ion-button>
        </ion-col>
        <ion-col text-center>
          <ion-avatar text-end style="width:9vh !important; height:9vh !important; margin-top: 1.5vh; margin-left: 7vw">
            <img id="image">
          </ion-avatar>
        </ion-col>
        <ion-col text-start>
          <ion-button href="https://www.thebluealliance.com/team/{{ teamNumber }}/2019" style="margin-top: 3vh;">
            <img src="https://www.thebluealliance.com/images/tba_lamp.svg" class="tbaIcon">
          </ion-button>
        </ion-col>
        <!--<ion-col>-->
          <!--<ion-grid>-->
            <!--<ion-row>-->
              <!--<ion-button href="{{ teamWebsite }}">Web</ion-button>-->
            <!--</ion-row>-->
            <!--<ion-row>-->
              <!--<ion-button href="https://www.thebluealliance.com/team/{{ teamNumber }}/2019">-->
                <!--<img src="https://www.thebluealliance.com/images/tba_lamp.svg" class="tbaIcon">-->
              <!--</ion-button>-->
            <!--</ion-row>-->
          <!--</ion-grid>-->
        <!--</ion-col>-->
      </ion-row>
    </ion-grid>
  </div>

  <div style="height: 10%;" text-center>
    <ion-button icon-only href="https://{{ social.type.slice(0, -8) }}.com/{{ social.foreign_key }}" *ngFor="let social of socialMediaObservable | async">
      <ion-icon name="logo-{{ social.type.slice(0, -8) }}"></ion-icon>
    </ion-button>
  </div>

  <div text-center>
    <ion-button (click)="toggleEvents()">Events</ion-button>
    <ion-button (click)="toggleMatches()">Schedule</ion-button>
    <!--<ion-button (click)="toggleMatchData()">Match Data</ion-button>-->
    <!-- <ion-button (click)="togglePitData()">Pit Data</ion-button> -->
  </div>

  <!-- Back Button -->
  <ion-fab vertical="top" horizontal="start" slot="fixed" style="position: fixed">
    <ion-fab-button routerLink="/teams">
      <ion-icon color="dark" name="return-left"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-scroll scroll=”true” style="white-space: nowrap; overflow-x: scroll; height: 69%; position: relative; bottom: 0;">

    <div *ngIf="showEvents">
      <ion-card text-center style="margin-bottom: 10px !important; min-height: 9vh !important;" *ngFor="let event of eventsObservable | async">
        <h2>{{ event.name }}</h2>
        <ion-button color="secondary"
          href="https://www.thebluealliance.com/event/{{ event.year }}{{ event.event_code }}">View Event</ion-button>
      </ion-card>
    </div>

    <div *ngIf="showMatches">
      <ion-card *ngFor="let match of matchesArray" style="margin-bottom: 10px !important">
        <ion-grid class="noPadding">
          <ion-row class="noPadding">
            <ion-col class="noPadding" text-center size="2.4" style="min-width: 3vh !important">
              <div class="center"><b>{{ match.comp_level.toUpperCase() }}-{{ match.match_number }}</b></div>
            </ion-col>
            <ion-col class="noPadding" size="9.6" class="noPadding">
              <ion-grid class="noPadding">
                <ion-row class="noPadding" style="background-color: #fdd !important">
                  <ion-col class="noPadding" col-5 style="min-width: 3vh !important" text-center *ngFor="let team of match.alliances.red.team_keys">
                    <ion-label style="color: #6e4552; margin-top: 2.2vh; font-weight: 500; font-size: 1.2em" routerLink="../{{ team.substring(3) }}">{{ team.substring(3) }}</ion-label>
                  </ion-col>
                  <ion-col class="noPadding" col-5 style="min-width: 3vh !important">
                    <h3 style="color: #6e4552; font-weight: 600" text-end>{{ match.alliances.red.score }}</h3>
                  </ion-col>
                </ion-row>
                <ion-row class="noPadding" style="background-color: #ddf !important">
                  <ion-col class="noPadding" col-5 style="min-width: 3vh !important" text-center *ngFor="let team of match.alliances.blue.team_keys">
                    <ion-label style="color: #6e4552; margin-top: 2.2vh; font-weight: 500; font-size: 1.2em" routerLink="../{{ team.substring(3) }}">{{ team.substring(3) }}</ion-label>
                  </ion-col>
                  <ion-col class="noPadding" col-5 style="min-width: 3vh !important">
                    <h3 style="color: #6e4552; font-weight: 600" text-end>{{ match.alliances.blue.score }}</h3>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

    <ion-grid *ngIf="showStats" style="position: relative; bottom: 0; min-height: 50vh">

      <ion-row nowrap>
        <p *ngFor="let match of matchCollectionObservable | async"></p>
        <!--<ion-col *ngFor="let item of match | keyvalue">-->
          <!--<ion-card>-->
            <!--<ion-card-content text-center>-->
              <!--<ion-label>{{ item.key }}</ion-label>-->
            <!--</ion-card-content>-->
          <!--</ion-card>-->
        <!--</ion-col>-->

      <!-- <ion-row nowrap>
        <ion-col *ngFor="let stat of stats">
          <ion-card>
            <ion-label text-center color="dark" [innerHTML]="stat"></ion-label>
          </ion-card>
        </ion-col>
        <ion-col comment>
          <ion-card>
            <ion-label color="dark">Comments</ion-label>
          </ion-card>
        </ion-col> -->
      </ion-row>

      <ion-row nowrap *ngFor="let match of matchCollectionObservable | async" routerLink="/detail/{{teamNumber}} {{match.matchNumber}}">

        <ion-col *ngFor="let item of match | keyvalue">
          <ion-card>
            <ion-card-content text-center>
              <ion-label>{{ item.value }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- make this not so cancerous pls kthx -->
        <!-- <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.scoutName }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content text-center>
              <ion-label color="dark">{{ match.startingPoint }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content text-center>
              <ion-label color="dark">{{ match.HABLevel }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.result }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.interference }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content text-center>
              <ion-label color="dark">{{ match.playsDefense }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content text-center>
              <ion-label color="dark">{{ match.data.cargoInShip }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content text-center>
              <ion-label color="dark">{{ match.data.cargoInRocket }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content text-center>
              <ion-label color="dark">{{ match.data.hatchesInShip }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content text-center>
              <ion-label color="dark">{{ match.data.hatchesInRocket }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content text-center>
              <ion-label color="dark">{{ match.climb }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content text-center>
              <ion-label color="dark">{{ match.driver }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content text-center>
              <ion-label color="dark">{{ match.stability }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content text-center>
              <ion-label color="dark">{{ match.penalties }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col comment>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.comments }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <hr /> -->
      </ion-row>
    </ion-grid>
  </ion-scroll>

</ion-content>