<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button routerLink="/help">
          <ion-icon slot="icon-only" name="help"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Match {{ (match | async)?.matchNumber }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row nowrap>
      <ion-col>
        <ion-card>
          <ion-card-content title>Team
            <br/> Number</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col comment>
        <ion-card>
          <ion-card-content>{{ team }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col>
        <ion-card>
          <ion-card-content title>Starting
            <br/> Position</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col comment>
        <ion-card>
          <ion-card-content>{{ (match | async)?.startingPosition }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col>
        <ion-card>
          <ion-card-content title>Scout
            <br/> Name</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col comment>
        <ion-card>
          <ion-card-content>{{ (match | async)?.scoutName }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col>
        <ion-card>
          <ion-card-content title>Auto
            <br/> Run</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col comment>
        <ion-card>
          <ion-card-content>{{ (match | async)?.autoRun }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col>
        <ion-card>
          <ion-card-content title>Auto
            <br/> Switch</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col comment>
        <ion-card>
          <ion-card-content>{{ (match | async)?.autoSwitch }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col>
        <ion-card>
          <ion-card-content title>Auto
            <br/> Switch
            <br/> Cubes</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col comment>
        <ion-card>
          <ion-card-content>{{ (match | async)?.autoSwitchCubes }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col>
        <ion-card>
          <ion-card-content title>Auto
            <br/> Scale</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col comment>
        <ion-card>
          <ion-card-content>{{ (match | async)?.autoScale }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col>
        <ion-card>
          <ion-card-content title>Auto
            <br/> Scale
            <br/> Cubes</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col comment>
        <ion-card>
          <ion-card-content>{{ (match | async)?.autoScaleCubes }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col>
        <ion-card>
          <ion-card-content title>Switch
            <br/>Cubes</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col comment>
        <ion-card>
          <ion-card-content>{{ (match | async)?.cubesSwitch }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col>
        <ion-card>
          <ion-card-content title>Switch
            <br/> Failed
            <br/>Cubes</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col comment>
        <ion-card>
          <ion-card-content>{{ (match | async)?.failedSwitch }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col>
        <ion-card>
          <ion-card-content title>Scale
            <br/>Cubes</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col comment>
        <ion-card>
          <ion-card-content>{{ (match | async)?.cubesScale }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col>
        <ion-card>
          <ion-card-content title>Scale
            <br/> Failed
            <br/>Cubes</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col comment>
        <ion-card>
          <ion-card-content>{{ (match | async)?.failedScale }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col>
        <ion-card>
          <ion-card-content title>Exchange
            <br/>Cubes</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col comment>
        <ion-card>
          <ion-card-content>{{ (match | async)?.cubesExchange }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col>
        <ion-card>
          <ion-card-content title>Climb</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col comment>
        <ion-card>
          <ion-card-content>{{ (match | async)?.climb }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col>
        <ion-card>
          <ion-card-content title>Cards</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col comment>
        <ion-card>
          <ion-card-content>{{ (match | async)?.cards }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row nowrap>
      <ion-col>
        <ion-card>
          <ion-card-content title>Comments</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col comment>
        <ion-card>
          <ion-card-content>{{ (match | async)?.comments }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>