<app-custom-toolbar [title]="'Match ' + (match | async)?.matchNumber"></app-custom-toolbar>

<ion-content>

  <ion-grid>
    <ion-row nowrap *ngFor="let thing of (match | async) | keyvalue">
      <ion-col>
        <ion-card>
          <ion-card-content title>
            {{ thing.key }}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col comment>
        <ion-card>
          <ion-card-content>{{ thing.value }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>