<app-custom-toolbar [title]="'Settings'"></app-custom-toolbar>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Current Competition:</ion-label>
      </ion-col>
      <ion-col>
        <ion-input text-start id="compInput" (ionInput)="changeEvent($event)" placeholder="Competition ID"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar text-center>
    <ion-button (click)="saveChanges()">Save Changes</ion-button>
  </ion-toolbar>
</ion-footer>