<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 text-center>Settings</h1>
  
  <ion-grid>
    <ion-row><ion-col col-2>Current Competition:</ion-col>
    <ion-col col-2><ion-input text-start id="compInput" (ionInput)="changeEvent($event)" placeholder="Competition ID"></ion-input></ion-col></ion-row>
    <ion-row><ion-col col-2>Admin Password:</ion-col>
    <ion-col col-2><ion-input text-start id="apInput" [(ngModel)]="aPassword" placeholder="Password"></ion-input></ion-col></ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar text-center>
    <ion-button (click)="saveChanges()">Save Changes</ion-button>
  </ion-toolbar>
</ion-footer>