<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 text-center>Settings</h1>

  Theme:
  <ion-list>
    <ion-radio-group id="radioGroup">
      <ion-item *ngFor="let theme of themees">
        <ion-label>{{theme}}</ion-label>
        <ion-radio value="{{theme}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  Current Competition:
  <ion-input text-start id="hi" placeholder="ID of Competition Being Scouted"></ion-input>

</ion-content>

<ion-footer>
  <ion-toolbar text-center>
    <ion-button>Save Changes</ion-button>
  </ion-toolbar>
</ion-footer>