<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding scroll="true">
    <!-- This shows the list of templates from Firestore -->
    <div *ngIf="!hasChosenTemplate && !useTemplate">
        <ion-card ion-item (click)="toggleChosenTemplateBool()" color="primary">
            <ion-item>
                <ion-icon name="add" item-start color="dark"></ion-icon>
                <ion-label text-center color="dark">Create Template</ion-label>
            </ion-item>
        </ion-card>

        <h2 text-center>All Templates</h2>
        <ion-item *ngFor="let template of templatesArray">
            <ion-card color="secondary">
                <ion-item>
                    <ion-icon name="create" item-start color="dark"></ion-icon>
                    <ion-label text-center color="dark" (click)="loadHTMLToUse(template)" [innerHTML]="template.name">
                    </ion-label>
                    <ion-button outline item-end (click)="loadHTMLToEdit(template)">Edit</ion-button>
                </ion-item>
            </ion-card>
        </ion-item>
    </div>

    <!-- These are the buttons that show up for adding components to forms -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="hasChosenTemplate && !useTemplate">
        <!-- Add -->
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="top">
            <!-- Selector -->
            <ion-fab-button (click)=selectorAlert() data-desc="Add item selector">
                <ion-icon name="options"></ion-icon>
            </ion-fab-button>

            <!-- Checkbox -->
            <ion-fab-button (click)="createComponent('checkbox')" data-desc="Add checkbox">
                <ion-icon name="checkbox"></ion-icon>
            </ion-fab-button>

            <!-- Toggle -->
            <ion-fab-button (click)="createComponent('toggle')" data-desc="Add toggle">
                <ion-icon name="switch"></ion-icon>
            </ion-fab-button>

            <!-- Counter -->
            <!-- <ion-fab-button (click)="createElement('<app-counter></app-counter>')"></ion-fab-button> -->
            <ion-fab-button
                (click)="createComponent('', '<ion-button color=`secondary`>-</ion-button><ion-button color=`secondary`>+</ion-button>')"
                data-desc=" Add counter">
                <ion-icon name="chatbubbles"></ion-icon>
            </ion-fab-button>

            <!-- Input -->
            <ion-fab-button (click)="createComponent('input')" data-desc="Add input">
                <ion-icon name="clipboard"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <!-- Button for saving templates to Firestore -->
    <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="hasChosenTemplate">
        <ion-fab-button (click)="saveTemplate()">
            <ion-icon name="save"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <!-- This is for editing a new template -->
    <ion-card>
        <ion-list>
            <ion-reorder-group (ionItemReorder)="reorderItems($event)" [disabled]="false" id="divID"
                *ngIf="hasChosenTemplate">
            </ion-reorder-group>
        </ion-list>
    </ion-card>

    <!-- This is for editing existing templates -->
    <ion-card>
        <ion-list>
            <!-- The difference between this and the one above is that this one doesnt have the divID -->
            <ion-reorder-group (ionItemReorder)="reorderItems($event)" [disabled]="false" *ngIf="hasChosenTemplate"
                [innerHTML]="templateHTML">
            </ion-reorder-group>
        </ion-list>
    </ion-card>

    <!-- This is for using existing templates -->

    <div *ngIf="useTemplate" scroll="true">
        <h2 text-center>2019 Match Scouting</h2>

        <form (ngSubmit)="submitData()">

        <ion-card style="background: var(--ion-color-primary)">
            <h2 text-center>General Information</h2>
            <ion-card-content>
                <ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Match Number</ion-label>
                <ion-input [(ngModel)]="formData.matchNumber" placeholder="Match Number"
                    [ngModelOptions]="{standalone: true}"></ion-input>
                <!-- name="matchNumber" -->
                <ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Team Number</ion-label>
                <ion-input [(ngModel)]="formData.teamNumber" placeholder="Team Number"
                    [ngModelOptions]="{standalone: true}"></ion-input>
                <!-- name="teamNumber" -->
                <ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Scout Name</ion-label>
                <ion-input [(ngModel)]="formData.scoutName" placeholder="Scout Name"
                    [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-card-content>
        </ion-card>


        <!-- --------- -->
        <!-- SANDSTORM -->
        <!-- --------- -->
        <ion-card style="background: var(--ion-color-primary)">
            <h2 text-center>Sandstorm</h2>
            <ion-card-content>
                <ion-grid>

                    <!-- Starting Point Dropdown -->
                    <ion-row>
                        <ion-col col-2> <ion-label style="margin-top: 8px; margin-bottom: 0px; font-size: 1.25em">Starting Point</ion-label></ion-col>
                        <ion-col col-2> <ion-select placeholder="Location" [(ngModel)]="formData.StartingPoint" name="Starting Point">
                                    <ion-select-option role="option" id="ion-selopt-0"> Left </ion-select-option>
                                    <ion-select-option role="option" id="ion-selopt-1"> Right </ion-select-option>
                                    <ion-select-option role="option" id="ion-selopt-2"> Center </ion-select-option>
                                    <input type="hidden" class="aux-input" name="Starting Point" value="Center">
                        </ion-select> </ion-col>
                    </ion-row>

                    <!-- HAB Level Dropdown -->
                    <ion-row>
                        <ion-col col-2> <ion-label style="margin-top: 8px; margin-bottom: 0px; font-size: 1.25em">HAB Level</ion-label></ion-col>
                        <ion-col col-2> <ion-select placeholder="Level" [(ngModel)]="formData.HABLevel" name="HAB Level">
                            <ion-select-option role="option" id="ion-selopt-3">1</ion-select-option>
                            <ion-select-option role="option" id="ion-selopt-4">2</ion-select-option> 
                            <input type="hidden" class="aux-input" name="HAB Level" value="1">
                        </ion-select> </ion-col>
                    </ion-row>

                    <!-- HAB Line Toggle -->
                    <ion-row>
                        <ion-col col-2> <ion-label style="margin-top: 8px; margin-bottom: 0px; font-size: 1.25em">HAB Line</ion-label></ion-col>
                        <ion-col col-2> <ion-toggle color="secondary" [(ngModel)]="formData.HABLine" name="HAB Line">
                            <input type="hidden" class="aux-input" name="HAB Line" value="on">
                        </ion-toggle></ion-col>
                    </ion-row>

                    <!-- Hatch Placed Dropdown -->
                    <ion-row>
                        <ion-col col-2> <ion-label style="margin-top: 8px; margin-bottom: 0px; font-size: 1.25em">Hatch Placed</ion-label></ion-col>
                        <ion-col col-2> <ion-select placeholder="Hatch" [(ngModel)]="formData.PlacedHatch" name="Placed Hatch">
                            <ion-select-option role="option" id="ion-selopt-6" class="hydrated">None</ion-select-option>
                            <ion-select-option role="option" id="ion-selopt-7" class="hydrated">Rocket</ion-select-option>
                            <ion-select-option role="option" id="ion-selopt-8" class="hydrated">Cargo</ion-select-option>
                            <input type="hidden" class="aux-input" name="Placed Hatch" value="None">
                        </ion-select> </ion-col>
                    </ion-row>

                    <!-- Interference Dropdown -->
                    <ion-row>
                        <ion-col col-2> <ion-label style="margin-top: 8px; margin-bottom: 0px; font-size: 1.25em">Interference</ion-label></ion-col>
                        <ion-col col-2> <ion-select placeholder="Interference" [(ngModel)]="formData.Interference" name="Interference">
                            <ion-select-option role="option" id="ion-selopt-12" class="hydrated">In Rocket Path</ion-select-option>
                            <ion-select-option role="option" id="ion-selopt-13" class="hydrated">In Cargo Path</ion-select-option>
                            <ion-select-option role="option" id="ion-selopt-14" class="hydrated">None</ion-select-option>
                            <input type="hidden" class="aux-input" name="Interference" value="none">
                        </ion-select> </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

        <!-- ------- -->
        <!-- TELE-OP -->
        <!-- ------- -->
        <ion-card style="background: var(--ion-color-primary)">
            <h2 text-center>Tele-Op</h2>
            <ion-card-content>
                    <ion-grid>

                        <!-- Plays Defense Toggle -->
                        <ion-row>
                            <ion-col col-2> <ion-label style="margin-top: 8px; margin-bottom: 0px; font-size: 1.25em">Plays Defense</ion-label></ion-col>
                            <ion-col col-2> <ion-toggle color="secondary" [(ngModel)]="formData.PlaysDefense" name="Plays defense">
                                <input type="hidden" class="aux-input" name="Plays defense" value="on">
                            </ion-toggle></ion-col>
                        </ion-row>
                    </ion-grid>

                <!-- Cargo in ship -->
                <ion-grid>
                    <ion-row text-center=""><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Cargo in Ship</ion-label></ion-row>
                    <ion-row>
                        <ion-col col-5></ion-col>
                        <ion-col col-5 text-center=""><ion-button (click)="removeCargoToShip()"><ion-icon name="remove"></ion-icon></ion-button></ion-col>
                        <ion-col col-5 text-center="" style="padding: 0px"><ion-input placeholder='0' style="font-size: 1.25em; font-weight: 1000;" [(ngModel)]="formData.cargoInShip" name="cargoInShip" value="{{cargoInShip}}"></ion-input></ion-col>
                        <ion-col col-5 text-center=""><ion-button (click)="addCargoToShip()"><ion-icon name="add"></ion-icon></ion-button></ion-col>
                        <ion-col col-5></ion-col>
                    </ion-row>

                <!-- Cargo in bottom level of rocket -->
                    <ion-row text-center=""><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Cargo in Bottom Level of Rocket</ion-label></ion-row>
                    <ion-row>
                        <ion-col col-5></ion-col>
                        <ion-col col-5 text-center=""><ion-button (click)="removeCargoToLRocket()"><ion-icon name="remove"></ion-icon></ion-button></ion-col>
                        <ion-col col-5 text-center="" style="padding: 0px"><ion-input placeholder='0' style="font-size: 1.25em; font-weight: 1000;" [(ngModel)]="formData.cargoInLRocket" name="cargoInLRocket" value="{{cargoInLRocket}}"></ion-input></ion-col>
                        <ion-col col-5 text-center=""><ion-button (click)="addCargoToLRocket()"><ion-icon name="add"></ion-icon></ion-button></ion-col>
                        <ion-col col-5></ion-col>
                    </ion-row>

                <!-- Cargo in middle level of rocket -->
                    <ion-row text-center=""><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Cargo in Middle Level of Rocket</ion-label></ion-row>
                    <ion-row>
                        <ion-col col-5></ion-col>
                        <ion-col col-5 text-center=""><ion-button (click)="removeCargoToMRocket()"><ion-icon name="remove"></ion-icon></ion-button></ion-col>
                        <ion-col col-5 text-center="" style="padding: 0px"><ion-input placeholder='0' style="font-size: 1.25em; font-weight: 1000;" [(ngModel)]="formData.cargoInMRocket" name="cargoInMRocket" value="{{cargoInMRocket}}"></ion-input></ion-col>
                        <ion-col col-5 text-center=""><ion-button (click)="addCargoToMRocket()"><ion-icon name="add"></ion-icon></ion-button></ion-col>
                        <ion-col col-5></ion-col>
                    </ion-row>

                <!-- Cargo in top level of rocket -->
                    <ion-row text-center=""><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Cargo in Top Level of Rocket</ion-label></ion-row>
                    <ion-row>
                        <ion-col col-5></ion-col>
                        <ion-col col-5 text-center=""><ion-button (click)="removeCargoToHRocket()"><ion-icon name="remove"></ion-icon></ion-button></ion-col>
                        <ion-col col-5 text-center="" style="padding: 0px"><ion-input placeholder='0' style="font-size: 1.25em; font-weight: 1000;" [(ngModel)]="formData.cargoInHRocket" name="cargoInHRocket" value="{{cargoInHRocket}}"></ion-input></ion-col>
                        <ion-col col-5 text-center=""><ion-button (click)="addCargoToHRocket()"><ion-icon name="add"></ion-icon></ion-button></ion-col>
                        <ion-col col-5></ion-col>
                    </ion-row>

                <!-- Hatches in Ship -->
                    <ion-row text-center=""><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Hatch in Ship</ion-label></ion-row>
                    <ion-row>
                        <ion-col col-5></ion-col>
                        <ion-col col-5 text-center=""><ion-button (click)="removeHatchToShip()"><ion-icon name="remove"></ion-icon></ion-button></ion-col>
                        <ion-col col-5 text-center="" style="padding: 0px"><ion-input placeholder='0' style="font-size: 1.25em; font-weight: 1000;" [(ngModel)]="formData.hatchInShip" name="hatchInShip" value="{{hatchInShip}}"></ion-input></ion-col>
                        <ion-col col-5 text-center=""><ion-button (click)="addHatchToShip()"><ion-icon name="add"></ion-icon></ion-button></ion-col>
                        <ion-col col-5></ion-col>
                    </ion-row>

                <!-- Hatches in Bottom Level of Rocket -->
                    <ion-row text-center=""><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Hatch in Bottom Level of Rocket</ion-label></ion-row>
                    <ion-row>
                        <ion-col col-5></ion-col>
                        <ion-col col-5 text-center=""><ion-button (click)="removeHatchToLRocket()"><ion-icon name="remove"></ion-icon></ion-button></ion-col>
                        <ion-col col-5 text-center="" style="padding: 0px"><ion-input placeholder='0' style="font-size: 1.25em; font-weight: 1000;" [(ngModel)]="formData.hatchInLRocket" name="hatchInLRocket" value="{{hatchInLRocket}}"></ion-input></ion-col>
                        <ion-col col-5 text-center=""><ion-button (click)="addHatchToLRocket()"><ion-icon name="add"></ion-icon></ion-button></ion-col>
                        <ion-col col-5></ion-col>
                    </ion-row>

                <!-- Hatches in Middle Level of Rocket -->
                    <ion-row text-center=""><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Hatch in Middle Level of Rocket</ion-label></ion-row>
                    <ion-row>
                        <ion-col col-5></ion-col>
                        <ion-col col-5 text-center=""><ion-button (click)="removeHatchToMRocket()"><ion-icon name="remove"></ion-icon></ion-button></ion-col>
                        <ion-col col-5 text-center="" style="padding: 0px"><ion-input placeholder='0' style="font-size: 1.25em; font-weight: 1000;" [(ngModel)]="formData.hatchInMRocket" name="hatchInMRocket" value="{{hatchInMRocket}}"></ion-input></ion-col>
                        <ion-col col-5 text-center=""><ion-button (click)="addHatchToMRocket()"><ion-icon name="add"></ion-icon></ion-button></ion-col>
                        <ion-col col-5></ion-col>
                    </ion-row>

                <!-- Hatches in Top Level of Rocket -->
                    <ion-row text-center=""><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Hatch in Top Level of Rocket</ion-label></ion-row>
                    <ion-row>
                        <ion-col col-5></ion-col>
                        <ion-col col-5 text-center=""><ion-button (click)="removeHatchToHRocket()"><ion-icon name="remove"></ion-icon></ion-button></ion-col>
                        <ion-col col-5 text-center="" style="padding: 0px"><ion-input placeholder='0' style="font-size: 1.25em; font-weight: 1000;" [(ngModel)]="formData.hatchInHRocket" name="hatchInHRocket" value="{{hatchInHRocket}}"></ion-input></ion-col>
                        <ion-col col-5 text-center=""><ion-button (click)="addHatchToHRocket()"><ion-icon name="add"></ion-icon></ion-button></ion-col>
                        <ion-col col-5></ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

        <!-- --------- -->
        <!-- POST-GAME -->
        <!-- --------- -->
        <ion-card style="background: var(--ion-color-primary)">
            <h2 text-center>Post-Game</h2>
            <ion-card-content>
                <ion-grid>

                    <!-- Climb Level -->
                    <ion-row>
                        <ion-col col-2><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Climb Level</ion-label></ion-col>
                        <ion-col col-2><ion-select placeholder="Level" [(ngModel)]="formData.Climb" name="Climb">
                            <ion-select-option role="option" id="ion-selopt-22" class="hydrated">Level 1</ion-select-option>
                            <ion-select-option role="option" id="ion-selopt-23" class="hydrated">Level 2</ion-select-option>
                            <ion-select-option role="option" id="ion-selopt-24" class="hydrated">Level 3</ion-select-option>
                            <input type="hidden" class="aux-input" name="Climb" value="Level 1">
                        </ion-select></ion-col>
                    </ion-row>

                    <!-- Stability of Robot -->
                    <ion-row>
                        <ion-col col-2><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Stability of Robot</ion-label></ion-col>
                        <ion-col col-2><ion-select placeholder="Stability" [(ngModel)]="formData.Stability" name="Stability">
                            <ion-select-option role="option" id="ion-selopt-25" class="hydrated">Good</ion-select-option>
                            <ion-select-option role="option" id="ion-selopt-26" class="hydrated">Bad</ion-select-option>
                            <input type="hidden" class="aux-input" name="Stability" value="Good">
                        </ion-select></ion-col>
                    </ion-row>

                    <!-- Driver Quality -->
                    <ion-row>
                        <ion-col col-2><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Driver Quality</ion-label></ion-col>
                        <ion-col col-2><ion-select placeholder="Quality" [(ngModel)]="formData.Driver" name="Driver">
                            <ion-select-option role="option" id="ion-selopt-27" class="hydrated">Good</ion-select-option>
                            <ion-select-option role="option" id="ion-selopt-28" class="hydrated">Bad</ion-select-option>
                            <input type="hidden" class="aux-input" name="Driver" value="Good">
                        </ion-select></ion-col>
                    </ion-row>

                    <!-- Penalties -->
                    <ion-row>
                        <ion-col col-2><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Penalties</ion-label></ion-col>
                        <ion-col col-2><ion-select placeholder="Penalties" [(ngModel)]="formData.Penalty" [ngModelOptions]="{standalone: true}" name="Penalty">
                            <ion-select-option role="option" id="ion-selopt-30" class="hydrated">None</ion-select-option>
                            <ion-select-option role="option" id="ion-selopt-31" class="hydrated">Some</ion-select-option>
                            <ion-select-option role="option" id="ion-selopt-32" class="hydrated">A lot</ion-select-option>
                            <input type="hidden" class="aux-input" name="Penalty" value="None">
                        </ion-select></ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

        <!-- ------------- -->
        <!-- Comments Card -->
        <!-- ------------- -->
        <ion-card>
            <h2 text-center>Comments</h2>
            <ion-card-content style="background: var(--ion-color-primary)">    
                <ion-input [(ngModel)]="formData.comments" placeholder="Comments" name="comments"></ion-input>
            </ion-card-content>
        </ion-card>
        <div text-center>
            <ion-button type="submit">Submit</ion-button>
        </div>
        </form>
    </div>
</ion-content>