<app-custom-toolbar [title]="'Scouting'" [startIcon]="'settings'" (startClicked)="this.appComponent.toggleSettings()"></app-custom-toolbar>
<!--<app-counter [name]="'counter test'" [lower]="0" [upper]="8" [modelObj]="dataaa"></app-counter>-->
<!--<app-custom-selector [name]="'hiya'" [options]="[0, 1, 2]" [modelObj]="dataaa"></app-custom-selector>-->

<!--<div id="testing"></div>-->

<ion-content scroll="true">
    <!-- This shows the list of templates from Firestore -->
    <div *ngIf="!hasChosenTemplate && !useTemplate">
        <ion-item *ngFor="let template of templatesArray">
            <!-- <ion-card text-center class="editSlide" style="width: 100.38px; margin: 0px; left: -110.38px">
                <ion-button color="warning" (click)="deleteTemplate(template)"><ion-icon size="small" name="trash"></ion-icon></ion-button>
                <ion-button color="secondary" (click)="loadHTML(template, true)"><ion-icon size="small" name="create"></ion-icon></ion-button>
            </ion-card> -->
            <ion-card style="width: 100%">
            <!-- class="loadSlide editScale" -->
                <ion-item>
                    <ion-label text-center color="dark" (click)="loadHTML(template, false)" [innerHTML]="template.name"></ion-label>
                </ion-item>
            </ion-card>
        </ion-item>
    </div>

    <!-- Button for showing edit buttons -->
    <!-- <ion-fab vertical="top" horizontal="end" slot="fixed" style="position: fixed" *ngIf="!useTemplate">
        <ion-fab-button (click)="toggleEditMode()">
            <ion-icon color="dark" name="create"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->

    <!-- ---------------- -->
    <!-- TEMPLATE CLEATOR -->
    <!-- ---------------- -->

     <!-- Back Button -->
    <ion-fab vertical="top" horizontal="start" slot="fixed" style="position: fixed" *ngIf="hasChosenTemplate || useTemplate">
        <ion-fab-button (click)="backButton()">
            <ion-icon color="dark" name="return-left"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <!-- These are the buttons that show up for adding components to forms -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="hasChosenTemplate && !useTemplate">
        <!-- Add -->
        <ion-fab-button>
            <ion-icon color="dark" name="add"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="top">
            <!-- Selector -->
            <ion-fab-button (click)="questionSelectorAlert()" data-desc="Add item selector">
                <ion-icon name="options"></ion-icon>
            </ion-fab-button>

            <!-- Checkbox -->
            <ion-fab-button (click)="createComponent('checkbox')" data-desc="Add checkbox">
                <ion-icon name="checkbox"></ion-icon>
            </ion-fab-button>

            <!-- Toggle -->
            <ion-fab-button (click)="createComponent('toggle')" data-desc="Add toggle">
                <ion-icon name="switch"></ion-icon>
            </ion-fab-button>

            <!-- Counter -->
             <ion-fab-button color="secondary" (click)="createElement('<app-counter></app-counter>')"></ion-fab-button>
            <!--<ion-fab-button (click)="createComponent('', '<>')" data-desc="Add counter"> -->
                 <!--<ion-icon name="chatbubbles"></ion-icon> -->
             <!--</ion-fab-button> -->

            <!-- Input -->
            <ion-fab-button (click)="createComponent('input')" data-desc="Add input">
                <ion-icon name="clipboard"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <!-- Button for saving templates to Firestore -->
    <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="hasChosenTemplate">
        <ion-fab-button (click)="saveTemplate()">
            <ion-icon color="dark" name="save"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <!-- This is for editing a new template -->
    <ion-card *ngIf="hasChosenTemplate">
        <ion-reorder-group  [disabled]="false" id="divID">
        </ion-reorder-group>
    </ion-card>

    <!-- This is for editing existing templates -->
    <div *ngIf="hasChosenTemplate">
        <!-- The difference between this and the one above is that this one doesnt have the divID -->
        <ion-reorder-group [disabled]="false" [innerHTML]="templateHTML">
        </ion-reorder-group>
    </div>

    <!-- This is for using existing templates -->
    <div *ngIf="useTemplate" scroll="true">
        <!-- <div [innerHTML]="templateHTML"></div> -->

        <!-- Name of Current Template -->
        <h2 text-center>{{ templateName }}</h2>

        <form (ngSubmit)="submitData()">
            <!-- ------------ -->
            <!-- GENERAL INFO -->
            <!-- ------------- -->
            <ion-card>
                <h2 text-center>General Information</h2>
                <ion-card-content>
                    <ion-grid>
                        <!-- Match Number Input -->
                        <ion-row>
                            <ion-col col-2><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Match Number</ion-label></ion-col>
                            <ion-col col-2><ion-input type="number" min="1" max="70" [(ngModel)]="formData.matchNumber" placeholder="Match Number" name="matchNumber"></ion-input></ion-col>
                        </ion-row>
                        <!-- Team Number Input -->
                        <ion-row>
                            <ion-col col-2><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Team Number</ion-label></ion-col>
                            <ion-col col-2><ion-input type="number" [(ngModel)]="formData.teamNumber" placeholder="Team Number" name="teamNumber"></ion-input></ion-col>
                        </ion-row>
                        <!-- Scout Name Input -->
                        <ion-row>
                            <ion-col col-2><ion-label style="margin-top: 0; margin-bottom: 0; font-size: 1.25em">Scout Name</ion-label></ion-col>
                            <ion-col col-2><ion-input [(ngModel)]="formData.scoutName" placeholder="Scout Name" name="scoutName"></ion-input></ion-col>
                        </ion-row>
                        <!-- Driver Station Dropdown -->
                        <ion-row>
                            <ion-col col-2> <ion-label style="margin-top: 8px; margin-bottom: 0px; font-size: 1.25em">Driver Station</ion-label></ion-col>
                            <ion-col col-2> <ion-select [interfaceOptions]="{mode:'ios'}" class="alertCSS" interface="action-sheet" placeholder="Location" [(ngModel)]="formData.driverStation" name="Driver Station">
                              <ion-select-option role="option" id="ion-selopt-20">Left</ion-select-option>
                              <ion-select-option role="option" id="ion-selopt-21">Center</ion-select-option>
                              <ion-select-option role="option" id="ion-selopt-33">Right</ion-select-option>
                              <input type="hidden" class="aux-input" name="Starting Point" value="Center">
                            </ion-select> </ion-col>
                          </ion-row>
  
                          <!-- Starting Point Dropdown -->
                          <ion-row>
                              <ion-col col-2> <ion-label style="margin-top: 8px; margin-bottom: 0px; font-size: 1.25em">Starting Point</ion-label></ion-col>
                              <ion-col col-2> <ion-select [interfaceOptions]="{mode:'ios'}"class="alertCSS" interface="action-sheet" placeholder="Location" [(ngModel)]="formData.startingPoint" name="Starting Point">
                                  <ion-select-option role="option" id="ion-selopt-0">Left</ion-select-option>
                                  <ion-select-option role="option" id="ion-selopt-1">Center</ion-select-option>
                                  <ion-select-option role="option" id="ion-selopt-2">Right</ion-select-option>
                                  <input type="hidden" class="aux-input" name="Starting Point" value="Center">
                              </ion-select> </ion-col>
                          </ion-row>
  
                          <!-- HAB Level Dropdown -->
                          <ion-row>
                              <ion-col col-2> <ion-label style="margin-top: 8px; margin-bottom: 0px; font-size: 1.25em">HAB Level</ion-label></ion-col>
                              <ion-col col-2> <ion-select [interfaceOptions]="{mode:'ios'}"interface="action-sheet" placeholder="Level" [(ngModel)]="formData.HABLevel" name="HAB Level">
                                  <ion-select-option role="option" id="ion-selopt-3">1</ion-select-option>
                                  <ion-select-option role="option" id="ion-selopt-4">2</ion-select-option>
                                  <input type="hidden" class="aux-input" name="HAB Level" value="1">
                              </ion-select> </ion-col>
                          </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>

            <!-- ---- -->
            <!-- Game -->
            <!-- ---- -->
            <ion-card>
                <h2 text-center>Game</h2>
                <ion-card-content>
                    <ion-grid>
                        <!-- Sandstorm Result Dropdown -->
                        <ion-row>
                            <ion-col col-2> <ion-label style="margin-top: 8px; margin-bottom: 0px; font-size: 1.25em">Sandstorm Result</ion-label></ion-col>
                            <ion-col col-2> <ion-select [interfaceOptions]="{mode:'ios'}"interface="action-sheet" placeholder="Result" [(ngModel)]="formData.result" name="Placed Hatch">
                                <ion-select-option role="option" id="ion-selopt-5" class="hydrated">None</ion-select-option>
                                <ion-select-option role="option" id="ion-selopt-7" class="hydrated">HAB Line</ion-select-option>
                                <ion-select-option role="option" id="ion-selopt-8" class="hydrated">Placed Cargo</ion-select-option>
                                <ion-select-option role="option" id="ion-selopt-6" class="hydrated">Placed Hatch</ion-select-option>
                                <input type="hidden" class="aux-input" name="Placed Hatch" value="None">
                            </ion-select> </ion-col>
                        </ion-row>

                        <!-- Defense Dropdown -->
                        <ion-row>
                            <ion-col col-2> <ion-label style="margin-top: 8px; margin-bottom: 0px; font-size: 1.25em">Defense</ion-label></ion-col>
                            <ion-col col-2> <ion-select [interfaceOptions]="{mode:'ios'}"interface="action-sheet" placeholder="Defense" [(ngModel)]="formData.defense" name="Defense">
                                <ion-select-option role="option" id="ion-selopt-112" class="hydrated">None</ion-select-option>
                                <ion-select-option role="option" id="ion-selopt-113" class="hydrated">Not Effective</ion-select-option>
                                <ion-select-option role="option" id="ion-selopt-119" class="hydrated">Ok</ion-select-option>
                                <ion-select-option role="option" id="ion-selopt-114" class="hydrated">Effective</ion-select-option>
                                <input type="hidden" class="aux-input" name="Defense" value="none">
                            </ion-select> </ion-col>
                        </ion-row>

                        <br/>
                    
                      <!-- Cargo - L 1-->
                      <ion-row>
                        <ion-col size="6"><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.3em">Cargo - L1</ion-label></ion-col>
                        <ion-col size="2" text-center><ion-button (click)="removeCargoToL1()"><ion-icon name="remove"></ion-icon></ion-button></ion-col>
                        <ion-col size="2" text-center><ion-input readonly placeholder='0' style="font-size: 1.3em; font-weight: 800;" [(ngModel)]="formData.cargoInL1" name="cargoInL1" value="{{cargoInL1}}"></ion-input></ion-col>
                        <ion-col size="2" text-center><ion-button (click)="addCargoToL1()"><ion-icon name="add"></ion-icon></ion-button></ion-col>
                      </ion-row>

                      <!-- Hatch- L 1-->
                      <ion-row>
                        <ion-col size="6"><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.3em">Hatch - L1</ion-label></ion-col>
                        <ion-col size="2" text-center><ion-button (click)="removeHatchToL1()"><ion-icon name="remove"></ion-icon></ion-button></ion-col>
                        <ion-col size="2" text-center><ion-input readonly placeholder='0' style="font-size: 1.3em; font-weight: 800;" [(ngModel)]="formData.hatchesInL1" name="hatchesInL1" value="{{hatchesInL1}}"></ion-input></ion-col>
                        <ion-col size="2" text-center><ion-button (click)="addHatchToL1()"><ion-icon name="add"></ion-icon></ion-button></ion-col>
                      </ion-row>

                      <br/>

                      <!-- Cargo - L 2-->
                      <ion-row>
                        <ion-col size="6"><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.3em">Cargo - L2</ion-label></ion-col>
                        <ion-col size="2" text-center><ion-button (click)="removeCargoToL2()"><ion-icon name="remove"></ion-icon></ion-button></ion-col>
                        <ion-col size="2" text-center><ion-input readonly placeholder='0' style="font-size: 1.3em; font-weight: 800;" [(ngModel)]="formData.cargoInL2" name="cargoInL2" value="{{cargoInL2}}"></ion-input></ion-col>
                        <ion-col size="2" text-center><ion-button (click)="addCargoToL2()"><ion-icon name="add"></ion-icon></ion-button></ion-col>
                      </ion-row>

                      <!-- Hatch - L 2-->
                      <ion-row>
                        <ion-col size="6"><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.3em">Hatch - L2</ion-label></ion-col>
                        <ion-col size="2" text-center><ion-button (click)="removeHatchToL2()"><ion-icon name="remove"></ion-icon></ion-button></ion-col>
                        <ion-col size="2" text-center><ion-input readonly placeholder='0' style="font-size: 1.3em; font-weight: 800;" [(ngModel)]="formData.hatchesInL2" name="hatchesInL2" value="{{hatchesInL2}}"></ion-input></ion-col>
                        <ion-col size="2" text-center><ion-button (click)="addHatchToL2()"><ion-icon name="add"></ion-icon></ion-button></ion-col>
                      </ion-row>

                      <br/>

                      <!-- Cargo - L 3-->
                      <ion-row>
                        <ion-col size="6"><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.3em">Cargo - L3</ion-label></ion-col>
                        <ion-col size="2" text-center><ion-button (click)="removeCargoToL3()"><ion-icon name="remove"></ion-icon></ion-button></ion-col>
                        <ion-col size="2" text-center><ion-input readonly placeholder='0' style="font-size: 1.3em; font-weight: 800;" [(ngModel)]="formData.cargoInL3" name="cargoInL3" value="{{cargoInL3}}"></ion-input></ion-col>
                        <ion-col size="2" text-center><ion-button (click)="addCargoToL3()"><ion-icon name="add"></ion-icon></ion-button></ion-col>
                      </ion-row>

                      <!-- Hatch - L 3-->
                        <ion-row>
                            <ion-col size="6"><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.3em">Hatch - L3</ion-label></ion-col>
                            <ion-col size="2" text-center><ion-button (click)="removeHatchToL3()"><ion-icon name="remove"></ion-icon></ion-button></ion-col>
                            <ion-col size="2" text-center><ion-input readonly placeholder='0' style="font-size: 1.3em; font-weight: 800;" [(ngModel)]="formData.hatchesInL3" name="hatchesInL3" value="{{hatchesInL3}}"></ion-input></ion-col>
                            <ion-col size="2" text-center><ion-button (click)="addHatchToL3()"><ion-icon name="add"></ion-icon></ion-button></ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>

            <!-- ------- -->
            <!-- Defense -->
            <!-- ------- -->
            <ion-card>
                <h2 text-center>Game</h2>
                <ion-card-content>
                    <ion-grid>
            <!-- -------- -->
            <!-- END-GAME -->
            <!-- -------- -->
            <ion-card>
                <h2 text-center>End-Game</h2>
                <ion-card-content>
                    <ion-grid>

                        <!-- Climb Level -->
                        <ion-row>
                            <ion-col col-2><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Climb Level</ion-label></ion-col>
                            <ion-col col-2><ion-select [interfaceOptions]="{mode:'ios'}"interface="action-sheet" placeholder="Level" [(ngModel)]="formData.climb" name="Climb">
                                <ion-select-option role="option" id="ion-selopt-92" class="hydrated">None</ion-select-option>
                                <ion-select-option role="option" id="ion-selopt-22" class="hydrated">Level 1</ion-select-option>
                                <ion-select-option role="option" id="ion-selopt-23" class="hydrated">Level 2</ion-select-option>
                                <ion-select-option role="option" id="ion-selopt-24" class="hydrated">Level 3</ion-select-option>
                                <input type="hidden" class="aux-input" name="Climb" value="Level 1">
                            </ion-select></ion-col>
                        </ion-row>

                        <!-- Penalties -->
                        <ion-row>
                            <ion-col col-2><ion-label style="margin-top: 0px; margin-bottom: 0px; font-size: 1.25em">Penalties</ion-label></ion-col>
                            <ion-col col-2><ion-select [interfaceOptions]="{mode:'ios'}"interface="action-sheet" placeholder="Penalties" [(ngModel)]="formData.penalties" [ngModelOptions]="{standalone: true}" name="Penalty">
                                <ion-select-option role="option" id="ion-selopt-30" class="hydrated">None</ion-select-option>
                                <ion-select-option role="option" id="ion-selopt-31" class="hydrated">Some</ion-select-option>
                                <ion-select-option role="option" id="ion-selopt-32" class="hydrated">A lot</ion-select-option>
                                <ion-select-option role="option" id="ion-selopt-63" class="hydrated">Yellow Card</ion-select-option>
                                <ion-select-option role="option" id="ion-selopt-44" class="hydrated">Red Card</ion-select-option>
                                <input type="hidden" class="aux-input" name="Penalty" value="None">
                            </ion-select></ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>

            <!-- ----------->
            <!-- Comments -->
            <!-- ----------->
            <ion-card>
                <h2 text-center>Comments</h2>
                <ion-card-content>
                    <ion-textarea rows="6" cols="12" [(ngModel)]="formData.comments" placeholder="Comments" name="comments"></ion-textarea>
                </ion-card-content>
            </ion-card>

            <div text-center>
                <ion-button expand="block" type="submit" style="font-weight: 800;">Submit</ion-button>
            </div>

        </form>
    </div>
</ion-content>

<!-- <ion-footer *ngIf="!hasChosenTemplate && !useTemplate">
    <ion-toolbar>
        <ion-card ion-item (click)="hasChosenTemplate = true" color="primary">
            <ion-item>
                <ion-icon name="add" item-start color="dark"></ion-icon>
                <ion-label text-center color="dark">Create Template</ion-label>
            </ion-item>
        </ion-card>
    </ion-toolbar>
</ion-footer> -->
