<app-custom-toolbar [title]="'District Rankings ' + '(' + district + ')'" [icon]="'refresh'" (notify)="refreshList()"></app-custom-toolbar>

<ion-content padding>
  <ion-item *ngFor="let team of rankingArray">
    <ion-chip color="tertiary">
      <ion-label color="medium" style="font-weight: 600">{{ team[0].team_key.substring(3) }}</ion-label>
    </ion-chip>
    <ion-label style="margin-left: 2vh">
      <h2>#{{ team[0].rank + '. ' + team[1] }}</h2>
      <p>Total Points: {{ team[0].point_total }}</p>
      <p>Events Attended: {{ team[0].event_points.length }}</p>
    </ion-label>
  </ion-item>
</ion-content>
