<ion-content padding>

  <ion-scroll scrollX=”true” style="white-space: nowrap; overflow: scroll">
    <ion-button (click)="showPitData()">
      show pit data
    </ion-button>
    
    <!-- <igx-grid #grid1 id="grid1" [data]="data" [autoGenerate]="true"></igx-grid> -->

    <ion-button (click)="fucku()">
      Toggle Match Stats
    </ion-button>

    <!-- hidden by default -->
    <ion-grid *ngIf="showStats">
      <ion-row nowrap>
        <ion-col *ngFor="let stat of stats">
          <ion-card>
            <ion-card-content [innerHTML]="stat"></ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col comment>
          <ion-card>
            <ion-card-content>Comments</ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <!-- create a row for each match -->
      <ion-row nowrap *ngFor="let match of matchCollectionObservable | async" routerLink="/detail/{{teamNumber}} {{match.matchNumber}}">
        <!-- make this not so cancerous pls kthx -->
        <ion-col>
          <b>
            {{ match.matchNumber }}
          </b>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ match.scoutName }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ match.startingPosition }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ match.autoRun }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ match.autoSwitch }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ match.autoSwitchCubes }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ match.autoScale }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ match.autoScaleCubes }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ match.cubesSwitch }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ match.failedSwitch }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ match.cubesScale }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ match.failedScale }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ match.cubesExchange }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ match.climb }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ match.cards }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col comment>
          <ion-card>
            <ion-card-content>
              {{ match.comments }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <hr />
      </ion-row>
    </ion-grid>
    <br />

    <ion-button (click)="fuckubutfortheteam()">
      Toggle Team Averages
    </ion-button>

    <ion-grid *ngIf="showTeamAverages">
      <igx-category-chart      
        [dataSource]="data" width="375px" height="450px">
      </igx-category-chart>
    </ion-grid>

  </ion-scroll>

</ion-content>