<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Matches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-scroll scrollX=”true” style="white-space: nowrap; overflow: scroll">

    <div style="height: 30%;" text-center>
      <h2>{{ teamNumber }}</h2>
      <ion-label>{{ teamName }}</ion-label>
      <ion-button href="{{ teamWebsite }}">Website</ion-button>
      <!-- <br />
      <ion-button>Upload Picture</ion-button> -->
    </div>

    <div text-center>
      <ion-button (click)="showPitData()">toggle pit data</ion-button>
      <ion-button (click)="toggleStats()">toggle match data</ion-button>
    </div>

    <!-- <igx-grid #grid1 id="grid1" [data]="data" [autoGenerate]="true"></igx-grid> -->

    <ion-grid *ngIf="showStats">
      <ion-row nowrap>
        <ion-col *ngFor="let stat of stats">
          <ion-card>
            <ion-label text-center color="dark" [innerHTML]="stat"></ion-label>
          </ion-card>
        </ion-col>
        <ion-col comment>
          <ion-card>
            <ion-label color="dark">Comments</ion-label>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row nowrap *ngFor="let match of matchCollectionObservable | async"
        routerLink="/detail/{{teamNumber}} {{match.matchNumber}}">
        <!-- make this not so cancerous pls kthx -->
        <ion-col>
          <b>{{ match.matchNumber }}</b>
        </ion-col>

        <!-- <ion-col *ngFor="let stat of matchesArray">
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ stat }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>  -->

        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.scoutName }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.startingPosition }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.autoRun }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.autoSwitch }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.autoSwitchCubes }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.autoScale }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.autoScaleCubes }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.cubesSwitch }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.failedSwitch }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.cubesScale }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.failedScale }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.cubesExchange }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.climb }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.cards }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col comment>
          <ion-card>
            <ion-card-content>
              <ion-label color="dark">{{ match.comments }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <hr />
      </ion-row>
    </ion-grid>
    <br />

    <ion-grid *ngIf="showTeamAverages">
      <igx-category-chart [dataSource]="data" width="375px" height="450px">
      </igx-category-chart>
    </ion-grid>

  </ion-scroll>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs color="primary">
      <ion-tab label="Details" icon="person"></ion-tab>
      <ion-tab label="Matches" icon="list"></ion-tab>
      <ion-tab label="Data" icon="navigate" (click)="toggleStats()"></ion-tab>
      <ion-tab label="Averages" icon="bookmarks" (click)="fuckubutfortheteam()"></ion-tab>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>