<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Falcon Scouter</ion-title> <!-- put name of each page here -->
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <!-- <ion-back-button></ion-back-button> -->
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="presentPopover($event)">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-menu>
    <ion-header>
      <ion-toolbar>
        <img src="../assets/imgs/FalconLogoWhiteMaroon.png">
        <ion-list>
          <ion-item *ngFor="let page of pages" routerLink="{{ page.link }}">
            <ion-icon name="{{ page.icon }}"></ion-icon>
            <ion-label color="dark">{{ page.title }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-toolbar>
    </ion-header>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>

</ion-app>