<ion-header>
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
  <ion-toolbar>
    <ion-title text-center>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button style="width: 100%" routerLink="/teams">Scout</ion-button>
  <!-- <p>
    key:
    <br /> QM = qualification matches
    <br /> QF = quarter finals
    <br /> SF = semi finals
    <br /> F = finals
  </p> -->

  <ion-searchbar (ionInput)="getItems($event)" placeholder="Search for team..."></ion-searchbar>

  <ion-card>
    <ion-card-content>
      <ion-grid *ngFor="let match of matchCollectionObservable | async">

        <ion-row>
          <ion-col size="2.5">
            <div class="circle center">{{ match.comp_level.toUpperCase() }}{{ match.match_number }}</div>
          </ion-col>
          <ion-col>
            <p style="color:blue">Blue Alliance</p>
            <ion-item text-center *ngFor="let team of match.alliances.blue.team_keys">
              <b style="color:blue">{{ team.substring(3) }}</b>
              <!-- <ion-icon name="help-buoy"></ion-icon> -->
            </ion-item>
          </ion-col>
          <ion-col>
            <h2 class="center">1 - 0</h2>
          </ion-col>
          <ion-col>
            <p style="color:crimson">Red Alliance</p>
            <ion-item text-center *ngFor="let team of match.alliances.red.team_keys">
              <!-- <ion-icon name="help-buoy"></ion-icon> -->
              <b style="color:crimson">{{ team.substring(3) }}</b>
            </ion-item>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>