<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
  type="text/css">
<app-custom-toolbar [title]="'Matches'"></app-custom-toolbar>

<ion-content padding>

  <ion-card color="primary" expand="full" routerLink="/teams">
    <ion-card-content text-center><b>View Teams</b></ion-card-content>
  </ion-card>
  <ion-label text-center>Current Event: <b>{{ curComp }}</b></ion-label>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Search for match..."></ion-searchbar>

  <ion-card *ngFor="let match of matchCollectionObservable | async">
    <!-- <ion-card-content> -->
      <ion-grid>
        <ion-row>
          <ion-col text-center size="2">
            <div class="circle center"><b>{{ match.comp_level.toUpperCase() }} {{ match.match_number }}</b></div>
          </ion-col>
          <ion-col>
            <ion-grid>
              <ion-row style="background-color: #fdd !important">
                <ion-col *ngFor="let team of match.alliances.red.team_keys">
                  <p style="margin-top: 2.2vh" routerLink="../matches/{{ team.substring(3) }}">{{ team.substring(3) }}</p>
                </ion-col>
                <ion-col>
                  <h3 text-end>{{ match.alliances.red.score }}</h3>
                </ion-col>
              </ion-row>
              <ion-row style="background-color: #ddf !important">
                <ion-col *ngFor="let team of match.alliances.blue.team_keys">
                  <p style="margin-top: 2.2vh" routerLink="../matches/{{ team.substring(3) }}">{{ team.substring(3) }}</p>
                </ion-col>
                <ion-col>
                  <h3 text-end>{{ match.alliances.blue.score }}</h3>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    <!-- </ion-card-content> -->
  </ion-card>

</ion-content>