.toolbar-background {
  background: transparent;
  border-color: transparent;
}

.slide-zoom {
  height: 100%;
}

.slide-image {
  min-height: 80%;
  max-width: 70%;
  margin: 36px 0;
  padding-left: 30%;
}

.idk {
  margin-bottom: 10vh;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
}

.splash-bg {
  position: relative;
  background: url("../../../assets/imgs/scrollingbgfalcon.png") no-repeat transparent;
  background-size: cover;
  height: 58%;
  z-index: 1;
  background-repeat: repeat-x;
  animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.splash-info {
  position: relative;
  z-index: 2;
  margin-top: -64px;
  text-align: center;
}

.splash-logo {
  margin: auto;
  background: url("../../../assets/imgs/FalconLogoWhiteMaroon.png") repeat transparent;
  border-radius: 50%;
  border: 3px var(--ion-color-dark) solid;
  background-size: 100%;
  width: 128px;
  height: 128px;
}

.splash-intro {
  font-size: 4vh;
  font-weight: bold;
  max-width: 80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
