<ion-content scroll="false" padding>

  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">Falcon Scouter</div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Current Competition:</ion-label>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Competition ID"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar text-center>
    <ion-button large clear icon-end color="primary" routerLink="/dash">
      View Matches
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>