<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">Falcon Scouter</div>
  </div>

  <div text-center id="idk">
    <ion-label>Current Competition:</ion-label>
    <!-- this input doesnt actually do anything yet -->
    <ion-input placeholder="Scouted Competition ID"></ion-input>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar text-center>
    <ion-button large clear icon-end color="primary" routerLink="/dash">
      View Matches
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>