<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/help">
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>Match Scouting Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button *ngIf="hmm" (click)="showScoutingTemplate()">Load Scouting Template</ion-button>
  <div [innerHTML]="templateHTML"></div>
  
</ion-content>