<ion-header style="padding-bottom: 80px">
  <ion-toolbar>
    <ion-title>All Teams</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/help">
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>
      <ion-button routerLink="/create">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-searchbar (ionInput)="getItems($event)" style="z-index: 2" placeholder="Type to search..."></ion-searchbar>

  <ion-scroll scrollX=”true” style="padding-top: 110px; z-index: -1">
    <ion-grid>
      <ion-row nowrap>
        <ion-col *ngFor="let stat of stats">
          <ion-card>
            <ion-card-content [innerHTML]="stat"></ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-scroll>

</ion-header>

<ion-content padding>
  <ion-scroll scrollX="true">
    <ion-grid>
      <!-- create a row for each team -->
      <ion-row nowrap *ngFor="let team of teamCollectionObservable | async" routerLink="/matches/{{team.teamNumber}}">
        <ion-col>
          <b>
            {{ team.teamNumber }}
          </b>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ team.autoRunPercent }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ team.autoSwitchPercent }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ team.avgAutoSwitchCubes }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ team.autoScalePercent }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ team.avgAutoScaleCubes }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ team.avgSwitchCubess }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ team.avgSwitchFailedCubes }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ team.avgScaleCubes }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ team.avgScaleFailedCubes }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ team.avgExchangeCubes }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              {{ team.climbPercent }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <hr />
      </ion-row>
    </ion-grid>
  </ion-scroll>

</ion-content>