<ion-header color="light" style="padding-bottom: 80px">
  <ion-toolbar color="light"></ion-toolbar>
  <ion-searchbar color="light" (ionInput)="getItems($event)" style="z-index: 2" placeholder="Type to search..."></ion-searchbar>
</ion-header>

<ion-content padding>

  <ion-scroll scrollX="true">
    <ion-grid>
      <ion-row nowrap *ngFor="let team of filteredArray" routerLink="/matches/{{team.teamNumber}}">
        <ion-col>
          <b>
            {{ team.teamNumber }}
          </b>
        </ion-col>
        <!-- <ion-col *ngFor="let teamm of averageMatchData(team.teamNumber)" [innerHTML]="teamm.teamNumber"></ion-col> -->
      </ion-row>
    </ion-grid>
  </ion-scroll>
</ion-content>