<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Form Builder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- show all existing forms -->

  <ion-grid *ngIf="!hasChosenTemplate">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content text-center>
            <ion-icon name="add"></ion-icon>
            <br />
            <p>Create Template</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngFor="let template of templatesArray">
        <ion-button (click)="loadHTML()">
          <ion-card>
            <ion-card-content>
              <ion-label [innerHTML]="template.name"></ion-label>
            </ion-card-content>
          </ion-card>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div [innerHTML]="templateHTML" *ngIf="hasChosenTemplate"></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="createElement('<ion-input></ion-input><ion-select><ion-select-option>pls die</ion-select-option></ion-select>');">
        <ion-icon name="checkbox"></ion-icon>
        <ion-label>hi there</ion-label>
      </ion-fab-button>
      <ion-fab-button (click)="createElement('<ion-input></ion-input>');">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="createElement('<ion-input></ion-input><ion-toggle></ion-toggle>');">
        <ion-icon name="card"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="createElement('<ion-input></ion-input><app-counter></app-counter>');">
        <ion-icon name="albums"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="save()">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <ion-card>
    <ion-card-content>
      <ion-list id="divID">
      </ion-list>
    </ion-card-content>
  </ion-card> -->

</ion-content>